<th:block th:fragment="marketScripts">
    <script th:inline="javascript">

        const EOD_API = [[${EOD_API}]];
        const MARKETAUX_API = [[${MARKETAUX_API}]];
        const POLYGON_API = [[${POLYGON_API}]]
        const EOD2_API = [[${EOD2_API}]];
        // // let CRYPTO_API =("https://api.polygon.io/v2/aggs/grouped/locale/global/market/crypto/2020-10-14?adjusted=true&apiKey=" + POLYGON_API);
        // let NEWS_API = ("https://eodhistoricaldata.com/api/news?api_token="+ EOD_API +"&s=TSLA.US&offset=0&limit=3");
        // let FEATURED_API = ("https://eodhistoricaldata.com/api/news?api_token="+ EOD_API +"&s=AMZN.US&offset=0&limit=1");
        // let NEWS_API_MKTAUX = ("https://api.marketaux.com/v1/news/all?symbols=TSLA%2CAMZN%2CMSFT&filter_entities=true&language=en&api_token=" + MARKETAUX_API);
        //
        // let MARKET_API = ("https://eodhistoricaldata.com/api/real-time/AAPL.US?api_token=" + EOD_API + "&fmt=json&s=EUR.FOREX,MSFT,TSLA,UNH,GOOGL,AMZN,FB,UNH,V");
        // let CRYPTO_API =("https://eodhistoricaldata.com/api/real-time/BTC-USD.CC?api_token=" + EOD_API + "&fmt=json&s=ETH-USD.CC,USDT-USD.CC,BNB-USD.CC,SOL-USD.CC,AVAX-USD.CC")
        // // USDC-USD.CC,DOT-USD.CC

        let NEWS_API = ("https://eodhistoricaldata.com/api/news?api_token="+ EOD2_API +"&s=TSLA.US&offset=0&limit=3");
        let FEATURED_API = ("https://eodhistoricaldata.com/api/news?api_token="+ EOD2_API +"&s=AMZN.US&offset=0&limit=1");
        let NEWS_API_MKTAUX = ("https://api.marketaux.com/v1/news/all?symbols=TSLA%2CAMZN%2CMSFT&filter_entities=true&language=en&api_token=" + MARKETAUX_API);
        let MARKET_API = ("https://eodhistoricaldata.com/api/real-time/AAPL.US?api_token=" + EOD2_API + "&fmt=json&s=EUR.FOREX,MSFT,TSLA,UNH,GOOGL,AMZN,FB,UNH,V");
        let CRYPTO_API =("https://eodhistoricaldata.com/api/real-time/BTC-USD.CC?api_token=" + EOD2_API + "&fmt=json&s=ETH-USD.CC,USDT-USD.CC,BNB-USD.CC,SOL-USD.CC,AVAX-USD.CC");
        // USDC-USD.CC,DOT-USD.CC


        //websockets
        let socket = new WebSocket("wss://ws.eodhistoricaldata.com/ws/crypto?api_token=" + EOD2_API);

        socket.onopen = function(e) {
            console.log("[open] Connection established");
            console.log("Sending to server");
            socket.send({"action": "subscribe", "symbols": "ETH-USD,BTC-USD,USDT-USD,BNB-USD,USDC-USD,LUNA-USD,XRP-USD,ADA-USD"});

        };

        socket.onmessage = function(event) {
            console.log(`[message] Data received from server: ${event.data}`);

        };

        socket.onerror = function(error) {
            console.log(`[error] ${error.message}`);
        };


        //
        //
        // let getStocks = () => {
        //     return fetch(MARKET_API)
        //         .then(resp => resp.json())
        //         .then(data => {
        //             console.log(data);
        //             $('#load-market').empty();
        //             let market = data;
        //
        //             for (let result of market) {
        //                 //cards
        //                 $('#load-market').append(`
        //
        //
        //               <div class="carousel-item" data-bs-interval="2000">
        //
        //              <span class="fw-bolder">${result.code}</span>
        //              <i class="fa-solid fa-arrow-up" style="color: #2EB82E"></i><span class="mx-2" ">${result.high} </span>
        //              <i class="fa-solid fa-arrow-down-long" style="color: red"></i><span class="mx-2" >${result.low}</span>
        //
        //
        //              </div>
        //              `)
        //             }
        //         }).catch(err => console.error("This is your err:", err));
        // }
        // getStocks();
        //
        //
        //
        //
        // // CRYPTO//
        // // fetch(CRYPTO_API)
        // //     .then(data => {
        // //         return data.json();
        // //     })
        // //     .then(data => {
        // //         console.log(data);
        // //     });
        //
        // let getCrypto = () => {
        //     return fetch(CRYPTO_API)
        //         .then(resp => resp.json())
        //         .then(data => {
        //             console.log(data);
        //             $('#load-crypto').empty();
        //             let crypto = data;
        //
        //             for (let result of crypto) {
        //                 //cards
        //
        //                 $('#load-crypto').append(`
        //
        //                 <div class="carousel-item" data-bs-interval="2000">
        //
        //              <span class="fw-bolder">${result.code}</span>
        //              <i class="fa-solid fa-arrow-up" style="color: #2EB82E"></i><span class="mx-2" ">${result.high} </span>
        //              <i class="fa-solid fa-arrow-down-long" style="color: red"></i><span class="mx-2" >${result.low}</span>
        //
        //
        //              </div>
        //              `)
        //             }
        //         }).catch(err => console.error("This is your err:", err));
        // }
        //
        // getCrypto();
        //
        // //MARKET NEWS//
        //
        // let getMarketNews = () => {
        //     return fetch(NEWS_API)
        //         .then(resp => resp.json())
        //         .then(data => {
        //             console.log(data);
        //             $('#load-news').empty();
        //             let newsMarket = data;
        //
        //             for (let result of newsMarket) {
        //                 //cards
        //                 $('#load-news').append(`
        //                 <div class="row card mx-auto" style="background-color: #E5E5E5; border: none;">
        //                  <h3 class="market-new-title">${result.title}</h3>
        //                 <p >${result.content.substr(0,500)}</p>
        //                 <a href="${result.link}" class="news-link">Continue reading</a>
        //                 </div>
        //                 <hr>
        //                  `)
        //             }
        //         }).catch(err => console.error("This is your err:", err));
        // }
        //
        // getMarketNews();
        //
        // let getMarketNews2 = () => {
        //     return fetch(NEWS_API_MKTAUX)
        //         .then(resp => resp.json())
        //         .then(data => {
        //             console.log(data);
        //             $('#load-news-2').empty();
        //             let newsMkt = data.data;
        //
        //             for (let property of newsMkt) {
        //                 //cards
        //                 $('#load-news-2').append(`
        //         <div class="col mx-auto">
        //                  <div class="row card border-primary mb-3 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" >
        //                     <div class="col p-4 d-flex flex-column position-static">
        //                         <strong class="d-inline-block mb-2 text-primary">
        //                             <h4 class="mb-0 card-title ">${property.title}</h4></strong>
        //                             <br>
        //                             <p class="card-text mb-auto">${property.description.substr(0,50)}</p>
        //                             <a href="${property.url}" class="news2-link">Continue reading</a>
        //                         </div>
        //                          <!--<div class="col-auto d-none d-lg-block">
        //                          <img class="bd-placeholder-img " width="190" height="235"  color="blue" src="${property.image_url}"><rect width="100%" height="100%" /></img>
        //                          </div>-->
        //                     </div>
        //                  </div>`)
        //             }
        //         }).catch(err => console.error("This is your err:", err));
        // }
        //
        // getMarketNews2();
        //
        // let getFeaturedPost = () => {
        //     return fetch(FEATURED_API)
        //         .then(resp => resp.json())
        //         .then(data => {
        //             console.log(data);
        //             $('#featured-post').empty();
        //             let featuredPost = data;
        //
        //             for (let result of featuredPost) {
        //                 //cards
        //                 $('#featured-post').append(`
        //                 <div class="">
        //                 <h4>Feature:</h4>
        //                     <h3 class="display-4 fs-3 fst-italic">${result.title}</h3>
        //                     <p class="lead me-5 my-3">${result.content.substr(0,210)}</p>
        //                     <p class="lead mb-0"><a href="${result.link}" class="text-white fw-bold">Continue reading...</a></p>
        //                 </div>
        //                  `)
        //             }
        //         }).catch(err => console.error("This is your err:", err));
        // }
        //
        // getFeaturedPost();

    </script>
</th:block>
