<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <a class="navbar-brand nav-item" sec:authorize="isAuthenticated()" href="/"><img class="nav-icon" src="/image/icon.png" alt="logo" style="filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(101%) contrast(102%);"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" sec:authorize="!isAuthenticated()" href="/"><img class="nav-icon" src="/image/icon.png" alt="logo" style="filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(101%) contrast(102%);">
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a  class="nav-link" href="/forum-posts">Forum Posts</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Learn</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/education/posts/Crypto">Crypto</a>
                        <a class="dropdown-item" href="/education/posts/Stocks">Stock</a>
                        <a class="dropdown-item" href="/education/posts/Finance">Finance</a>
                        <a class="dropdown-item" href="/education/posts/Strategies">Strategies</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/education/posts/Platforms">Platforms</a>
                    </div>
                </li>

            </ul>
            <ul class="navbar-nav d-flex justify-content-end">
                <li class="nav-item d-flex " sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                <li class="nav-item d-flex ">
                    <a  class="nav-link" sec:authorize="!isAuthenticated()" href="/register">Register</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/profile/{id}(id=${#authentication.principal.id})}" th:method="get">
                        <button class="btn-link btn nav-link navIconLink"
                                style="display: inline-block;margin-top: -1px">
                            <i aria-labelledby="profile button" class="fas fa-user"></i>
                            <span th:text="${#authentication.principal.username}"></span>
                        </button>
                    </form>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Create</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/forum-posts/create">Forum</a>
<!--                        needs to be added access only to admin-->
                        <a class="dropdown-item" href="/education/posts/create">Education</a>
                    </div>
                </li>
                <li class="nav-item">
                    <form class="nav-link" th:action="@{/logout}" th:method="post" sec:authorize="isAuthenticated()">

                        <button class="btn-link btn" style="margin-top: -8px"><i class="fa fa-sign-out" title="Logout"></i><span >Logout</span></button>

                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>