<th:block th:fragment="passwordScript">
    <script th:inline="javascript">
        const curPass = document.getElementById("curPassword")
        const newPass = document.getElementById("newPassword")
        const conPass = document.getElementById("conPassword")
        const passForm = document.getElementById("passForm")
        const errorElem = document.getElementById("error")

        passForm.addEventListener("submit", (e) => {
            let messages = []
            if (curPass.value === '' || curPass.value == null) {
                messages.push("Current password is required")
            }
            if (newPass.value === '' || newPass.value == null) {
                messages.push("New password is required")
            }
            if (conPass.value === '' || conPass.value == null) {
                messages.push("Confirm password is required")
            }
            if (newPass.value !== conPass.value) {
                messages.push("New password does not match")
            }
            if(messages.length > 0) {
                e.preventDefault()
                errorElem.innerText = messages.join(', ')
            }
        })

    </script>

    <th:block th:fragment="resetPassMatch">
        <script th:inline="javascript">
            function passwordMatch(confirmPassword) {
                if(confirmPassword.value !== $("#password").val()) {
                    confirmPassword.setCustomValidity("Passwords do not match");
                } else {
                    confirmPassword.setCustomValidity("");
                }
            }
        </script>
    </th:block>

</th:block>