<th:block th:fragment="passwordScript">
    <script th:inline="javascript">
        const curPass = document.getElementById("curPassword")
        const newPass = document.getElementById("newPassword")
        const conPass = document.getElementById("conPassword")
        const passForm = document.getElementById("passForm")
        const errorElem = document.getElementById("error")

        passForm.addEventListener("submit", (e) => {
            let messages = []
            if (curPass.value === '' || curPass.value == null) {
                messages.push("Current password is required")
            }
            if (newPass.value === '' || newPass.value == null) {
                messages.push("New password is required")
            }
            if (conPass.value === '' || conPass.value == null) {
                messages.push("Confirm password is required")
            }
            if (curPass.value !== conPass.value) {
                messages.push("New password does not match")
            }
            if(messages.length > 0) {
                e.preventDefault()
                errorElem.innerText = messages.join(', ')
            }
        })

    </script>

</th:block>

<th:block th:fragment="registerScript">
    <script th:inline="javascript">
        const regFirstName = document.getElementById("firstName")
        const regLastName = document.getElementById("lastName")
        const regEmail = document.getElementById("email")
        const regUsername = document.getElementById("username")
        const regPassword = document.getElementById("password")
        const regForm = document.getElementById("register-form")

        function validateInput() {
            if (regFirstName.value.trim() === '') {
                error(regFirstName, "First name cannot be empty");
            } else {
                success(regFirstName)
            }
            if (regEmail.value.trim() === '') {
                error(regEmail, "Email name cannot be empty");
            } else {
                if (!isValidEmail(regEmail.value.trim())) {
                    error(regEmail, "Email is not valid");
                } else {
                    success(regEmail);
                }
            }
            if (regLastName.value.trim() === '') {
                error(regLastName, "Last name cannot be empty");
            } else {
                success(regLastName)
            }
            if (regUsername.value.trim() === '') {
                error(regUsername, "Username cannot be empty");
            } else {
                success(regUsername)
            }
            if (regPassword.value.trim() === '') {
                error(regPassword, "Password cannot be empty");
            } else {
                success(regPassword)
            }
        }


        document.getElementById("registerForm")
        .addEventListener("click", (e) =>{
            e.preventDefault();
            validateInput();
        });

        function success(input) {
            let parent = regFirstName.parentElement;
            let messageEle = parent.querySelector("small");
            messageEle.style.visibility = "hidden";
            messageEle.innerText = "";
            parent.classList.add("success");
            parent.classList.remove("error");
        }
        function error(input, message) {
            let parent = regFirstName.parentElement;
            let messageEle = parent.querySelector("small");
            messageEle.style.visibility = "visible";
            messageEle.innerText = message;
            parent.classList.remove("success");
            parent.classList.add("error");
        }
        function isValidEmail(email) {
            return /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
        }
    </script>

</th:block>