<th:block th:fragment="passwordScript">
    <script th:inline="javascript">
        const curPass = document.getElementById("curPassword")
        const newPass = document.getElementById("newPassword")
        const conPass = document.getElementById("conPassword")
        const passForm = document.getElementById("passForm")
        const errorElem = document.getElementById("error")

        passForm.addEventListener("submit", (e) => {
            let messages = []
            if (curPass.value === '' || curPass.value == null) {
                messages.push("Current password is required")
            }
            if (newPass.value === '' || newPass.value == null) {
                messages.push("New password is required")
            }
            if (conPass.value === '' || conPass.value == null) {
                messages.push("Confirm password is required")
            }
            if (newPass.value !== conPass.value) {
                messages.push("New password does not match")
            }
            if(messages.length > 0) {
                e.preventDefault()
                errorElem.innerText = messages.join(', ')
            }
        })

    </script>

</th:block>

<!--<th:block th:fragment="registerScript">-->
<!--    <script th:inline="javascript">-->
<!--        const regFirstName = document.getElementById("firstName")-->
<!--        const regLastName = document.getElementById("lastName")-->
<!--        const regEmail = document.getElementById("email")-->
<!--        const regUsername = document.getElementById("username")-->
<!--        const regPassword = document.getElementById("password")-->
<!--        const regForm = document.querySelector("form")-->

<!--        regForm.addEventListener("submit", (e) =>{-->
<!--            e.preventDefault();-->
<!--            validateInput();-->
<!--        });-->

<!--        function validateInput() {-->
<!--            if (regFirstName.value.trim() === '') {-->
<!--                onError(regFirstName, "First name cannot be empty");-->
<!--            } else {-->
<!--                onSuccess(regFirstName)-->
<!--            }-->
<!--            if (regEmail.value.trim() === '') {-->
<!--                onError(regEmail, "Email name cannot be empty");-->
<!--            } else {-->
<!--                if (!isValidEmail(regEmail.value.trim())) {-->
<!--                    onError(regEmail, "Email is not valid");-->
<!--                } else {-->
<!--                    onSuccess(regEmail);-->
<!--                }-->
<!--            }-->
<!--            if (regLastName.value.trim() === '') {-->
<!--                onError(regLastName, "Last name cannot be empty");-->
<!--            } else {-->
<!--                onSuccess(regLastName)-->
<!--            }-->
<!--            if (regUsername.value.trim() === '') {-->
<!--                onError(regUsername, "Username cannot be empty");-->
<!--            } else {-->
<!--                onSuccess(regUsername)-->
<!--            }-->
<!--            if (regPassword.value.trim() === '') {-->
<!--                onError(regPassword, "Password cannot be empty");-->
<!--            } else if (regPassword.value.trim().length < 6) {-->
<!--                onError(regPassword, "Password needs to be minimum 6 characters")-->
<!--            }else {-->
<!--                onSuccess(regPassword)-->
<!--            }-->
<!--        }-->

<!--        function onSuccess(input) {-->
<!--            let parent = input.parentElement;-->
<!--            let messageEle = parent.querySelector("small");-->
<!--            messageEle.style.visibility = "hidden";-->
<!--            messageEle.innerText = "";-->
<!--            parent.classList.remove("error");-->
<!--            parent.classList.add("success");-->
<!--        }-->
<!--        function onError(input, message) {-->
<!--            let parent = input.parentElement;-->
<!--            let messageEle = parent.querySelector("small");-->
<!--            messageEle.style.visibility = "visible";-->
<!--            messageEle.innerText = message;-->
<!--            parent.classList.add("error");-->
<!--            parent.classList.remove("success");-->
<!--        }-->
<!--        function isValidEmail(email) {-->
<!--            const regex =  /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;-->
<!--            return regex.test(String(email).toLowerCase());-->

<!--        }-->
<!--    </script>-->

<!--</th:block>-->