<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invest Beacon | Edit Profile</title>
    <th:block th:include="partials/header.html :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class=" card text-center " style="margin: 3em auto; padding: 1em; width: 60%; display: flex; justify-content: center; background-color: #EEEEEE; border: none; ">
<h1>Edit Profile</h1>
<form class="form" th:action="@{/profile/{id}/edit (id = ${userToEdit.getId()})}" th:method="POST" th:object="${userToEdit}">
    <div class="form-group">
        <input type="hidden" th:value="*{id}">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" th:field="*{firstName}">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" th:field="*{lastName}">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" th:field="*{email}" />
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" th:field="*{username}" />
    </div>
    <div class="form-group">
        <label for="image">Upload Your Image</label>
        <input id="image" type="hidden" th:field="*{profileImg}"/>
        <button type="button" id="open">Choose image to upload</button>
    </div>
    <hr>
    <button class="button btn-primary" type="submit" >Submit Changes</button>
</form>
    <button type="button" id="profile-delete" class="btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin: auto">Delete Profile</button>
<!--    Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to delete your profile?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form th:action="@{/profile/{id}/delete (id = ${userToEdit.getId()})}" method="post" th:object="${userToEdit}">
                        <input type="hidden" th:field="*{id}">
                        <button type="submit" class="btn btn-danger">Delete Profile</button>
                    </form>

                </div>
            </div>
        </div>
    </div>


</div>

<th:block th:include="partials/footer.html :: scripts"></th:block>
<th:block th:include="partials/footer.html :: filestack"></th:block>
<th:block th:include="partials/fileStack.html :: fileStackScript"></th:block>




</body>
</html>