<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <th:block th:include="partials/header.html :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class=" card text-center " style="margin: 10em auto; padding: 1em; width: 60%; display: flex; justify-content: center; background-color: #EEEEEE;">
<h1>Edit Profile</h1>
<form class="form" th:action="@{/profile/{id}/edit (id = ${userToEdit.getId()})}" th:method="POST" th:object="${userToEdit}">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" th:value="${userToEdit.firstName}">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" th:value="${userToEdit.lastName}">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" th:field="*{email}" th:value="${userToEdit.email}" />
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" th:field="*{username}" th:value="${userToEdit.username}" />
    </div>
    <div class="form-group">
        <input type="hidden" id="pw" th:field="*{password}" th:value="${userToEdit.password}" />
    </div>
    <div class="form-group">
        <label for="image">Upload Your Image</label>
        <input id="image" type="hidden" th:field="*{profileImg}" th:value="${userToEdit.profileImg}" />
        <button type="button" id="open">Choose image to upload</button>
    </div>
    <button class="button btn-primary" type="submit" >Submit Changes</button>
</form>

<form th:action="@{/profile/{id}/delete (id = ${userToEdit.getId()})}" method="post" th:object="${userToEdit}">
    <input type="hidden" th:field="*{id}">
    <input value="Delete Profile" type="submit" onclick="return confirm('Are you sure you want to Delete?');">
</form>
</div>

<th:block th:include="partials/footer.html :: scripts"></th:block>
<th:block th:include="partials/footer.html :: filestack"></th:block>
<th:block th:include="partials/fileStack.html :: fileStackScript"></th:block>




</body>
</html>