<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invest Beacon | Forgot Password</title>

    <th:block th:include="partials/header.html :: styling"></th:block>

</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>
<div class=" card text-center " style="margin-top: 20px; border: none; background-color: #EEEEEE;">
<h1>Forgot Password</h1>
<br>
<form class="form" th:action="@{/forgot-password}" method="post">
    <p>We will send a reset password link to the email provided.</p>
    <input id="email" placeholder="Enter Email" name="email" type="email" />
    <br>
    <button class="btn btn btn-primary" type="submit">Send</button>
<!--    <p class="message">Not registered? <a th:href="@{/register}">Create an account</a></p>-->
</form>

</div>
<th:block th:include="partials/footer.html :: scripts"></th:block>
</body>
</html>