<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invest Beacon | Login</title>

    <th:block th:include="partials/header.html :: styling"></th:block>

</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>
<div class=" card text-center " style="margin: 10em auto; padding: 1em; width: 60%; display: flex; justify-content: center; border: none; background-color: #EEEEEE;">
<h1>Login Form</h1>
<div class="alert alert-danger" role="alert" th:if="${param.error}">
    Invalid Username and/or Password.
</div>
<div class="alert alert-success" role="alert" th:if="${param.logout}">
    You have been logged out.
</div>
<br>
<form class="form" th:action="@{/login}" method="post">
    <input id="username" placeholder="Enter Username" name="username" type="text" />
    <br>
    <input id="password" placeholder="Enter Password" name="password" type="password" />
    <br>
    <button class="button btn-primary" type="submit">Log In</button>
    <p class="message">Not registered? <a th:href="@{/register}">Create an account</a></p>
</form>

</div>
<th:block th:include="partials/footer.html :: scripts"></th:block>
</body>
</html>