<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>

    <th:block th:include="partials/header.html :: styling"></th:block>

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class=" card text-center " style="margin: 10em auto; padding: 1em; width: 60%; display: flex; justify-content: center; border: none; background-color: #EEEEEE;">
    <h1>Change Password</h1>
    <br>
    <form class="form" th:action="@{/password/{id}/change (id = ${passwordEdit.getId()})}" th:method="POST" th:object="${passwordEdit}">
        <div class="form-group">
            <input type="password" id="oldPassword" name="oldPassword" th:field="*{password}" placeholder="Enter current Password" required>
        </div>
        <div class="form-group">
            <input type="password" id="newPassword" name="newPassword" placeholder="Enter new Password" th:field="*{password}" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Change</button> <button type="submit" class="btn btn-primary"></button>
        </div>
    </form>

</div>
<th:block th:include="partials/footer.html :: scripts"></th:block>
</body>
</html>