<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>

    <th:block th:include="partials/header.html :: styling"></th:block>

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class=" card text-center " style="margin: 10em auto; padding: 1em; width: 60%; display: flex; justify-content: center; border: none; background-color: #EEEEEE;">
    <h1>Change Password</h1>
    <br>
    <form class="form" th:action="@{/password}" method="post">

    </form>

</div>
<th:block th:include="partials/footer.html :: scripts"></th:block>
</body>
</html>