<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invest Beacon | Change Password</title>

    <th:block th:include="partials/header.html :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class=" card text-center " style="margin: 3em auto; padding: 1em; width: 60%; display: flex; justify-content: center; border: none; background-color: #EEEEEE;">
    <h1>Change Password</h1>
    <br>
    <div id="error"></div>
    <br>
    <form id="passForm" class="form" th:action="@{/password/{id}/change (id=${passwordEdit.id})}" th:method="POST" th:object="${passwordEdit}">
        <div class="form-group">
            <input type="hidden" name="id" th:value="*{id}">
            <input type="password" id="curPassword" name="curPassword" placeholder="Enter current Password" th:field="*{curPassword}">
        </div>
        <div class="form-group">
            <input type="password" id="newPassword" name="newPassword" placeholder="Enter new Password" minlength="6" th:field="*{newPassword}">
        </div>
        <div class="form-group">
            <input type="password" id="conPassword" name="conPassword" placeholder="Enter new Password" th:field="*{conPassword}">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </form>

</div>
<th:block th:include="partials/footer.html :: scripts"></th:block>
<th:block th:include="partials/passwordErrors.html :: passwordScript"></th:block>
</body>
</html>