<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <th:block th:include="partials/header.html :: styling"></th:block>

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>Here is Your Profile</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col d-flex flex-row justify-around" th:object="${user}">
            <img th:src="${user.profileImg}" alt="profile-avatar" class="col-4 avatar">
            <h2 th:text="${user.username}" class="col-4"></h2>
            <div sec:authorize="isAuthenticated()">
                <div th:if="${#authentication.principal.id == user.id}">
                    <button class="col-4 text-end settingsButton">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>

    <div sec:authorize="isAuthenticated()">
        <div class="row" th:if="${#authentication.principal.id != user.id}">
            <div class="col">
                <button id="follow-button">+ Follow</button>
            </div>
        </div>
    </div>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="files" role="tabpanel">
        <div class="row">
            <div th:each="post : ${thisUsersPosts}" th:id="'post-' + ${post.id}" class="col-12 col-md-6">
                <div class="card backgroundDiv d-flex flex-column align-items-start justify-content-between">
                    <div class="card-header">
                        <a th:href="@{'/forum-posts/' + ${post.id}}" class="card-title fs-5 file-title-link"
                           th:text="${post.title}"></a>
                    </div>
                    <div class="card-body" th:text="${post.description}"></div>
                    <hr class="bg-light w-100 m-1">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="card-footer" style="color: #b3efbd">posted <span th:text="${post.createdDate}">
                        </span>
                        </div>
                        <div class="card-footer" sec:authorize="isAuthenticated()"
                             th:if="${#authentication.principal.id == user.id}">
                            <a th:href="@{/forum-posts/{id}/edit(id=${post.id})}"
                               class="btn btn-outline-secondary whiteFont"><i
                                    aria-labelledby="edit File Button" class="fas fa-edit"></i></a>
                            <form th:action="@{/forum-posts/{id}/delete(id=${post.id})}" th:method="post"
                                  class="d-inline-block" id="delete-form">
                                <button th:type="button" class="btn btn-outline-danger" id="delete-btn">
                                    <i aria-labelledby="Delete File Button"
                                       class="fas fa-trash-alt">
                                    </i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<th:block th:include="partials/scripts.html :: script"></th:block>
<th:block th:include="partials/fileStack.html :: fileStackScript"></th:block>
</body>
</html>