<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <th:block th:include="partials/header.html :: styling"></th:block>
    <style>
        #follow-button {
            color: #3399FF;
            font-family: "Helvetica";
            font-size: 10pt;
            background-color: #ffffff;
            border: 1px solid;
            border-color: #3399FF;
            border-radius: 3px;
            width: 85px;
            height: 30px;
            top: 50px;
            left: 50px;
            cursor: hand;
        }

        #unfollow-button {
            color: #fff;
            font-family: "Helvetica";
            font-size: 10pt;
            background-color: #2EB82E;
            border: 1px solid;
            border-color: #2EB82E;
            border-radius: 3px;
            width: 85px;
            height: 30px;
            top: 50px;
            left: 50px;
            cursor: hand;
        }
    </style>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<br>

<div class="container">
    <div class="row" sec:authorize="isAuthenticated()"
         th:if="${#authentication.principal.isAdmin == true && #authentication.principal.id != user.id}">
        <div class="col">
            <form th:action="@{/users/admin/{id}(id=${user.id})}" th:method="Post">
                <button id="addAdmin-button"
                        name="addAdmin" th:if="${!profileUserIsAdmin}">Add Admin
                </button>
                <input type="hidden" name="profileUserIsAdmin" th:value="${profileUserIsAdmin}">
            </form>
            <form th:action="@{/users/admin/{id}(id=${user.id})}" th:method="Post">
                <button id="removeAdmin-button" name="removeAdmin" th:if="${profileUserIsAdmin}">Remove Admin</button>
                <input type="hidden" name="profileUserIsAdmin" th:value="${profileUserIsAdmin}">
            </form>
        </div>
    </div>


    <div class="row">
        <div class="mx-auto mt-auto card" style="width: 18rem; text-align: center; background-color: #EEEEEE; border: none; " th:object="${user}">
            <img th:src="${user.profileImg}" alt="profile-avatar" class="card-img-top avatar"  height="200" width="200" style="border-radius:50%" >
            <div class="card-body">
                <h5 th:text="${user.username}" class="card-title text-align"></h5>
                <!--    EDIT PROFILE BUTTON SHOWN ONLY IF LOGGED IN AS THE USER OF THE PROFILE-->
                <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == user.id}">
                    <a th:href="@{/profile/{id}/edit (id=${user.id})}" class="text-end btn btn-primary settingsButton">Edit
                        Profile</a>
                    <br >
                    <a th:href="@{/password/{id}/change (id=${user.id})}" id="change-password" class="btn btn-primary mt-1">Change Password</a>
                </div>
            </div>
        </div>
    </div>
    <!--    FOLLOW AND UNFOLLOW BUTTON SHOWN ONLY IF LOGGED IN AND NOT THE USER OF THE PROFILE-->
    <div class="row" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id != user.id}">
        <div class="col">
            <form th:action="@{/users/follow/{id}(id=${user.id})}" th:method="Post">
                <button id="unfollow-button"
                        name="unfollow" th:if="${following}">Following
                </button>
                <input type="hidden" name="following" th:value="${following}">
            </form>
            <form th:action="@{/users/follow/{id}(id=${user.id})}" th:method="Post">
                <button id="follow-button" name="follow" th:if="${!following}">+ Follow</button>
                <input type="hidden" name="following" th:value="${following}">
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <!--DISPLAY Followers-->
        <div class="col text-center">
            <h5>Followers</h5>
            <div class="row" th:each="follower : ${user.getFollowers()}">
                <span>
                    <a th:href="@{'/profile/' + ${follower.getId()}}" th:text="${follower.getUsername()}"><i
                            class="far fa-user"></i></a>
                </span>
            </div>
        </div>
        <!--        DISPLAY Following-->
        <div class="col text-center">
            <h5>Following</h5>
            <div class="row" th:each="followee : ${user.getUsers()}">
                <span>
                    <a th:href="@{'/profile/' + ${followee.getId()}}" th:text="${followee.getUsername()}"><i
                            class="far fa-user"></i></a>
                </span>
            </div>
        </div>
    </div>
    <!--DISPLAY PROFILE USER'S POST-->
    <div class="container">
        <div class="row my-2">
            <h4> My Posts</h4>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col" th:each="post : ${thisUsersPosts}" th:id="'post-' + ${post.id}">
                <div class="card border-primary mb-3">
                    <div class="card-header">
                        <strong> <a class="fs-4" th:href="@{'/forum-posts/' + ${post.id}}" th:text="${post.title}"></a></strong>
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:text="${post.description}"></p>
                        <p class="card-text" style="font-size: 11px;">posted: <span th:text="${post.createdDate}"></span></p>
                        <!-- DISPLAY EDIT AND DELETE BUTTON ONLY IF LOGGED IN USER IS THE USER OF THE PROFILE -->
                        <div class="row" sec:authorize="isAuthenticated()"
                             th:if="${#authentication.principal.id == user.id}">
                            <span class="col">
                                <form th:action="@{/forum-posts/{id}/edit(id=${post.id})}" th:method="Get">
                                    <button type="submit" name="id" class="btn btn-secondary edit-btn float-start">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </form>
                            </span>
                            <span class="col">
                                <form th:action="@{/forum-posts/{id}/delete(id=${post.id})}" th:method="Post">
                                    <button type="submit" name="id" class="btn btn-danger delete-btn float-end">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<th:block th:include="partials/footer.html :: scripts"></th:block>
<th:block th:include="partials/fileStack.html :: fileStackScript"></th:block>
</body>
</html>