<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>InvestBeacon | Register an account</title>
    <th:block th:include="partials/header.html :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>Register Account</h1>
<form th:action="@{/register}" method="POST" th:object="${user}">
    <label for="firstName">First Name</label>
    <input id="firstName" th:field="*{first_name}" />

    <label for="lastName">Last Name</label>
    <input id="lastName" th:field="*{last_name}" />

    <label for="email">Email</label>
    <input id="email" th:field="*{email}" />

    <label for="username">Username</label>
    <input id="username" th:field="*{username}" />

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" />

    <label for="image">Upload Your Image</label>
    <input id="image" type="hidden" th:field="*{profile_img}" />
    <button type="button" id="open">Choose image to upload</button>

    <input value="Sign me up!" type="submit" />
</form>
<th:block th:include="partials/scripts.html :: script"></th:block>
<th:block th:include="partials/fileStack.html :: fileStackScript"></th:block>
</body>
</html>