<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>InvestBeacon | Register an account</title>
    <th:block th:include="partials/header.html :: styling"></th:block>
<!--CAPTCHA SCRIPT-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class=" card text-center " style="margin: 2em auto; padding: 1em; width: 60%; display: flex; justify-content: center; border: none; background-color: #EEEEEE;">
<h1>Register Account</h1>
<form id="registerForm" class="form" th:action="@{/register}" method="POST" th:object="${user}">
    <div class="form-group">
        <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</span>
        <small>Error Message</small>
        <input id="firstName" type="text" placeholder="Enter First Name" name="firstName" th:field="*{firstName}"/>
    </div>
    <div class="form-group">
        <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</span>
        <small>Error Message</small>
        <input id="lastName" placeholder="Enter Last Name" name="lastName" th:field="*{lastName}"/>
    </div>
    <div class="form-group">
        <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email name error</span>
        <small>Error Message</small>
        <input id="email" placeholder="Enter Email" name="email" th:field="*{email}"/>
    </div>
    <div class="form-group">
        <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span>
        <small>Error Message</small>
        <input id="username" placeholder="Create Username" name="username" th:field="*{username}"/>
    </div>
    <div class="form-group">
        <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span>
        <small>Error Message</small>
        <input id="password" type="password" placeholder="Create Password" name="password" th:field="*{password}"/>
    </div>
    <div class="form-group">
        <label for="image">Profile Picture</label>
        <input id="image" type="hidden" th:field="*{profileImg}" />
        <br>
        <button class="btn-info" type="button" id="open">Choose image to upload</button>
    </div>
    <hr>

        <div id="captcha" class="g-recaptcha" data-sitekey="6Lf2PuIeAAAAAJiAk2rjgL00RIn5U-I1SkkhmMf7"></div>

    <div>
        <span class="error" th:text="${message}"></span>
    </div>
    <p class="message">By signing up you agree to the <a href="/terms-and-conditions">Terms and Conditions</a> and <a
            href="/privacy-policy">Privacy Policy</a> of this site.</p>
    <br>
    <button class="button btn-primary" type="submit">Sign me up!</button>
    <p class="message">Already registered? <a th:href="@{/login}">Sign In</a></p>
</form>
</div>

    <script>
        const regFirstName = document.getElementById("firstName")
        const regLastName = document.getElementById("lastName")
        const regEmail = document.getElementById("email")
        const regUsername = document.getElementById("username")
        const regPassword = document.getElementById("password")
        const regForm = document.querySelector("form")

        regForm.addEventListener("submit", (e) =>{
            e.preventDefault();
            validateInput();
        });

        function validateInput() {
            if (regFirstName.value.trim() === '') {
                onError(regFirstName, "First name cannot be empty");
            } else {
                onSuccess(regFirstName)
            }
            if (regEmail.value.trim() === '') {
                onError(regEmail, "Email name cannot be empty");
            } else {
                if (!isValidEmail(regEmail.value.trim())) {
                    onError(regEmail, "Email is not valid");
                } else {
                    onSuccess(regEmail);
                }
            }
            if (regLastName.value.trim() === '') {
                onError(regLastName, "Last name cannot be empty");
            } else {
                onSuccess(regLastName)
            }
            if (regUsername.value.trim() === '') {
                onError(regUsername, "Username cannot be empty");
            } else {
                onSuccess(regUsername)
            }
            if (regPassword.value.trim() === '') {
                onError(regPassword, "Password cannot be empty");
            } else if (regPassword.value.trim().length < 6) {
                onError(regPassword, "Password needs to be minimum 6 characters")
            }else {
                onSuccess(regPassword)
            }
        }

        function onSuccess(input) {
            let parent = input.parentElement;
            let messageEle = parent.querySelector("small");
            messageEle.style.visibility = "hidden";
            messageEle.innerText = "";
            parent.classList.remove("error");
            parent.classList.add("success");
        }
        function onError(input, message) {
            let parent = input.parentElement;
            let messageEle = parent.querySelector("small");
            messageEle.style.visibility = "visible";
            messageEle.innerText = message;
            parent.classList.add("error");
            parent.classList.remove("success");
        }
        function isValidEmail(email) {
            const regex =  /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return regex.test(String(email).toLowerCase());

        }
    </script>

<th:block th:include="partials/footer.html :: scripts"></th:block>
<th:block th:include="partials/footer.html :: popover"></th:block>
<th:block th:include="partials/footer.html :: filestack"></th:block>
<th:block th:include="partials/fileStack.html :: fileStackScript"></th:block>

</body>
</html>