<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>InvestBeacon | Register an account</title>
    <th:block th:include="partials/header.html :: styling"></th:block>
<!--CAPTCHA SCRIPT-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class=" card text-center " style="margin: 10em auto; padding: 1em; width: 60%; display: flex; justify-content: center; border: none; background-color: #EEEEEE;">
<h1>Register Account</h1>
<form class="form" th:action="@{/register}" method="POST" th:object="${user}">
    <div class="form-group">
        <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</span>
        <input id="firstName" placeholder="Enter First Name" th:field="*{firstName}" />
    </div>
    <div class="form-group">
        <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</span>
        <input id="lastName" placeholder="Enter Last Name" th:field="*{lastName}" />
    </div>
    <div class="form-group">
        <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email name error</span>
        <input id="email" placeholder="Enter Email" th:field="*{email}" />
    </div>
    <div class="form-group">
        <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span>
        <input id="username" placeholder="Create Username" th:field="*{username}" />
    </div>
    <div class="form-group">
        <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span>
        <input id="password" type="password" placeholder="Create Password" th:field="*{password}" />
    </div>
    <div class="form-group">
        <label for="image">Profile Picture</label>
        <input id="image" type="hidden" th:field="*{profileImg}" />
        <br>
        <button class="btn-info" type="button" id="open">Choose image to upload</button>
    </div>
    <hr>

        <div id="captcha" class="g-recaptcha" data-sitekey="6Lf2PuIeAAAAAJiAk2rjgL00RIn5U-I1SkkhmMf7"></div>

    <div>
        <span class="error" th:text="${message}"></span>
    </div>
    <br>
    <button class="button btn-primary" type="submit">Sign me up!</button>
    <p class="message">Already registered? <a th:href="@{/login}">Sign In</a></p>
</form>
</div>
<th:block th:include="partials/footer.html :: scripts"></th:block>
<th:block th:include="partials/footer.html :: filestack"></th:block>
<th:block th:include="partials/fileStack.html :: fileStackScript"></th:block>

</body>
</html>