<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invest Beacon | Reset Password</title>

    <th:block th:include="partials/header.html :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class=" card text-center " style="margin: 3em auto; padding: 1em; width: 60%; display: flex; justify-content: center; border: none; background-color: #EEEEEE;">
    <h1>Reset Password</h1>
    <br>

    <form id="resetForm" class="form" th:action="@{/reset-password}" th:method="POST">
        <input type="hidden" name="token" th:value="${token}">
        <div class="form-group">
            <input type="password" name="password" id="password" placeholder="Enter new password" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" name="ConfirmPassword" placeholder="Confirm new password" oninput="passwordMatch(this);" required autofocus>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </form>

</div>
<th:block th:include="partials/footer.html :: scripts"></th:block>
<th:block th:include="partials/passwordErrors.html :: resetPassMatch"></th:block>
</body>
</html>