<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <th:block th:include="partials/header.html :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container" th:object="${welcomeUser}" style="margin: 10em auto; padding: 1em; width: 60%;">
    <h2 style="text-align: center">Welcome, to Invest Beacon</h2>
    <input type="submit" value="Login" onclick="window.location='login'" style="display: flex; margin: auto">
</div>

<th:block th:include="partials/footer.html :: scripts"></th:block>
</body>
</html>