<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Education Post</title>
    <th:block th:include="partials/header :: styling"></th:block>
    <style>
        .form {
            /*position: relative;*/
            z-index: 1;
            background: #FFFFFF;
            max-width: 1000px;
            margin: 0 auto 200px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
    </style>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class=" card text-center " style="margin: 3em auto; padding: 1em; width: 60%; display: flex; justify-content: center; border: none; background-color: #EEEEEE;">
    <h1> Create an Educational Post</h1>
    <form class="form" th:action="@{/education/posts/create}" th:method="POST" th:object="${post}" style="margin: 2em auto; padding: 1em; width: 100%; ">

            <input placeholder="Title" type="text" class="form-control" id="title" th:field="*{title}" required>

            <br>
            <textarea placeholder="Content" type="text" class="form-control" id="description" th:field="*{description}" rows="13" required></textarea>

        <br>
            <input id="image" type="hidden" th:field="*{contentImageUrl}">
            <button type="button" id="open">Choose image to upload</button>
        <br>
        <div class="row my-5">
            <label >Select Category</label>
            <br>
            <span th:each="cat : ${cat}"  class="col">
                <input class="form-check-input" type="checkbox" th:id="${cat.category}" name="categories" th:value="${cat.getId()}" style="width: 25px;">
                 <label class="form-check-label"  th:text="${cat.getCategory()}" ></label>
                <br>
            </span>
        </div>

        <br>

        <button id="create" type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>






<th:block th:include="partials/footer.html :: scripts"></th:block>
<th:block th:include="partials/footer.html :: filestack"></th:block>
<th:block th:include="partials/fileStack.html :: fileStackScript"></th:block>

</body>
</html>