<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${posts.get(0).getCategory().getCategory()}"></title>
    <th:block th:include="partials/header :: styling"></th:block>
    <style>
        textarea {
            resize: none;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "Playfair Display", Georgia, "Times New Roman", serif;
        }

        .blog-post {
            margin-bottom: 4rem;
        }

        .blog-post-title {
            margin-bottom: .25rem;
            font-size: 2.5rem;
        }


    </style>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="card text-center" th:each="post: ${posts}" style="margin: 10em auto; padding: 1em; width: 60%; display: flex; justify-content: center" >
    <div class="blog-post" >
        <h2 class="blog-post-title" th:text="${post.getTitle()}"></h2>
        <p th:text="${post.getDescription()}"></p>
        <p>created by: <span th:text=" ${post.getUser().getUsername()}"></span></p>
    </div>
    <div class="row d-flex justify-content-around" sec:Authorize="isAuthenticated()" >
        <form th:action="@{/education/posts/{id}/edit (id= ${post.getId()})}" th:method="get">
            <button type="submit" class="btn btn-sm btn-warning">Edit</button>
        </form>

        <form th:action="@{/education/posts/{id}/delete (id= ${post.getId()})}" th:method="post">
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
        </form>
    </div>


</div>
<th:block th:include="partials/footer :: scripts"></th:block>
</body>
</html>