<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${posts.get(0).getCategory().getCategory()}"></title>
    <th:block th:include="partials/header :: styling"></th:block>
    <style>

/*        h1, h2, h3, h4, h5, h6 {*/
/*            font-family: "Playfair Display", Georgia, "Times New Roman", serif;*/
/*        }*/

        .blog-post {
            margin-bottom: 4rem;
        }
        .blog-post-title {
            margin-bottom: .25rem;
            font-size: 2.5rem;

        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }


    </style>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="card bg-light mb-3 " th:each="post: ${posts}"
     style="margin: 2em auto; padding: 1em; width: 60%; display: flex; justify-content: center">

    <div class="blog-post">
        <h2 class="pb-4 mb-4 fst-italic border-bottom" style="color: #2C3E50;"><span th:text="${post.getTitle()}"></span></h2>
        <p  th:utext="${post.getDescription()}"></p>
        <p style="text-align: right">created by: <span th:text=" ${post.getUser().getUsername()}"></span></p>
        <p><span th:text="${post.getUserLikes().size()}" style="color: #2C3E50"></span> Likes</p>
        <div class=" row">
            <div class="col-6" id="voting" sec:authorize="isAuthenticated()" >
                <div  id="upvote"  th:if="${!#maps.containsKey(userLikes,post.id)}">

                    <form th:action="@{/education/posts/{category}/{id}/upvote (id=${post.getId()}, category=${post.getCategory().getCategory()})}"
                          th:method="post">
                        <button class="liked btn btn-outline-primary" type="submit"><i class="fa-regular fa-thumbs-up"></i>
                            upvote
                        </button>
                    </form>

                </div>
                <div id="downvote" th:if="${#maps.containsKey(userLikes,post.id)}" >
                    <form th:action="@{/education/posts/{category}/{id}/downvote (id=${post.getId()}, category=${post.getCategory().getCategory()})}"
                          th:method="post">
                        <button class="liked btn btn-outline-primary"  type="submit"><i
                                class="fa-regular fa-thumbs-down"></i> downvote
                        </button>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="col d-flex flex-wrap justify-content-end" sec:authorize="isAuthenticated()"
                     th:if="${loggedUser.isAdmin()}">
                    <form th:action="@{/education/posts/{category}/{id}/edit (id= ${post.getId()}, category= ${post.getCategory().getCategory()})}"
                          th:method="get" style="margin-right: 1em">
                        <button type="submit" id="edit" class="btn btn btn-info">Edit</button>
                    </form>

                </div>
            </div>
        </div>

    </div>


</div>
<th:block th:include="partials/footer :: scripts"></th:block>
<script>

</script>
</body>
</html>
