<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InvestBeacon</title>
    <th:block th:include="partials/header :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<main class="card text-center "
      style="margin: 10em auto; padding: 1em; width: 60%; display: flex; justify-content: center">
    <div class="blog-post">
        <h2 class="blog-post-title" th:text="${post.getTitle()}"></h2>
        <p th:text="${post.getDescription()}"></p>
        <p>created by: <span th:text=" ${post.getUser().getUsername()}"></span></p>
    </div>




</main>


<th:block th:include="partials/footer :: scripts"></th:block>
</body>
</html>