.error {
    color: red;
    font-style: italic;
    opacity: 0.7;
}

.alert {
    width: fit-content;
    margin: auto;
    opacity: 0.5;
}

#error #rCaptcha {
    color: red;
    font-style: italic;
    opacity: 0.7;
}

.form-group small {
    margin: 3px;
    visibility: hidden;
}

.form-group.success input {
    border: 2px solid #1da31d;
}

.form-group.error input {
    border: 2px solid red;
}
