body{
    background-color: #EEEEEE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.logo{
    width: 150px;
    height: 90px;
    border: #e5e5e5;
    background-color: #EEEEEE;
}


.icon{
    width: 45px;
    height: 35px;
    border: #e5e5e5;
    border-radius: 50%;
}

.nav-icon{
    width: 35px;
    height: 25px;
   color: white;
    background-repeat: no-repeat;
    background-position: center;
}

post-img{
    width: 225px;
    height: 120px;
    border-radius: 50%;
}

ul#load-market {
    padding: 0px;
}
ul#load-market li {
    display: inline-block;
    width: auto;
    list-style: outside none none;
}

ul#load-crypto {
    padding: 0px;
}
ul#load-crypto li {
    display: inline;
    width: auto;
    list-style: outside none none;

}


/*create post*/


.form {
    /*position: relative;*/
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-control {
    /*font-family: "Roboto", sans-serif;*/
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.button#create {
    text-transform: uppercase;
    outline: 0;

    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

a:link {
    text-decoration: none;
}
#footer {
    margin-top: auto;

}



/*erro msg*/
.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

.title-intro {
    padding-top: 3rem;
    font-weight: bold;
    text-align: left;
}


#title-banner {

    color: white;

}
#title .container-fluid {
    padding: 3% 15% 7%;
}

.thickers {
    background-color: #EEEEEE;
    position: relative;
    height: 70px;
}

.banner-news{
    background-color: #EEEEEE;
}
@media only screen and (max-width: 320px) {
    .main-banner{
max-height:850px;
    }
   .title-intro{
       margin-bottom: -100px;
    }
   .img-fluid{
       margin-top: -50px;
       position: relative;

}
}

@media screen and (min-width:576px)and (max-width:768px) {

.cardj {
    padding-bottom: 5px;
}

.j-content{
    padding-bottom: 5px;
}

}


@media screen and (min-width:768px) and (max-width:992px){

    .cardj{
        padding-bottom: 10px;
    }
    .j-content{
        padding-bottom: 9px;
    }
    .cardg{
        padding-bottom: -10px;
    }

}


@media screen and (min-width:992px) and (max-width:1400px)  {

    .cardj{
        padding-bottom: 25px;
    }
    .cardg{
        padding-bottom: 25px;
    }
    .j-content{
        padding-bottom: 34px;
    }
    .mediag{
        margin-top:-12px;
    }

}

