<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invest Beacon | Features</title>
    <th:block th:include="partials/header.html :: styling"></th:block>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"></nav>


    <section class="feature-section mx-5" id="features">
        <div class="container-fluid">
            <div class="row title text-center mt-5">
                <h2>Are you a new investor?</h2>
                <h4>We offer articles to help you understand the terminology, so you can start building your financial portafolio.</h4>
            </div>

            <div class=" container-fluid row justify-content-center">
                <div class="card rounded col-sm-12 col-md-4 col-lg-3 d-flex justify-content-center mx-5 my-4">
                    <div class="card-body text-center">
                        <i class="fa-brands fa-bitcoin  fa-3x"></i>
                        <h4 class="card-title">Cryptocurrencies</h4>
                       <p class="card-text">What is it? And, what is the best crypto for beginners?</p>
                    </div>
                </div>
                <div class="card rounded col-sm-12 col-md-4 col-lg-3 d-flex justify-content-center mx-5 my-4">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-arrow-trend-up fa-3x"></i>
                        <h4 class="card-title">Stocks</h4>
                        <p class="card-text">Start investing, is easier than you think!</p>
                    </div>
                </div>
                <div class="card rounded col-sm-12 col-md-4 col-lg-3 d-flex justify-content-center mx-5 my-4">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-coins fa-3x"></i>
                        <h4 class="card-title">Finance</h4>
                        <p class="card-text">Credit, banking, assets and more. Manage your money.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid row justify-content-center">
            <div class="card rounded col-sm-12 col-md-4 col-lg-3 d-flex justify-content-center mx-5 my-4">
                <div class="card-body text-center">
                    <i class="fa-solid fa-chess fa-3x"></i>
                    <h4 class="card-title">Strategies</h4>
                    <p class="card-text">Budgeting & Savings.</p>
                </div>
            </div>
            <div class="card rounded col-sm-12 col-md-4 col-lg-3 d-flex justify-content-center mx-5 my-4">
                <div class="card-body text-center">
                    <i class="fa-solid fa-hand-holding-dollar fa-3x"></i>
                    <h4 class="card-title">Platforms</h4>
                    <p class="card-text">What they are and how to choose one.</p>
                </div>
            </div>


        </div>
        <div class="col text-center my-3">

            <button type="button" class="btn btn-primary" sec:authorize="!isAuthenticated()"  ><a th:href="@{/register}" style="color: #FFFFFF;   text-decoration: none;">Register </a></button>

        </div>

    </section>

<th:block th:include="partials/footer.html :: scripts"></th:block>
</body>
</html>