<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>create forum post</title>
</head>
<body>

<form th:action="@{/forum-posts/create}" th:method="POST" th:object="${post}">
<div class="form-group">
    <label for="education">Is Educational</label>
    <input type="checkbox" class="form-control" id="education" >
</div>
<div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" >
</div>
<div class="form-group">
    <label for="Body">Content</label>
    <input type="text" class="form-control"  id="Body">
</div>
<div class="form-group">
    <label for="Image">Image</label>
    <input type="file" id="Image" name="Image" accept="image/png, image/jpeg">
</div>
<div class="form-group">
    <label>Category:</label>
    <label for="category1">1</label>
    <input type="checkbox" class="form-control" id="category1" >
    <label for="category2">2</label>
    <input type="checkbox" class="form-control" id="category2" >
    <label for="category3">3</label>
    <input type="checkbox" class="form-control" id="category3" >
    <label for="category4">4</label>
    <input type="checkbox" class="form-control" id="category4" >
    <label for="category5">5</label>
    <input type="checkbox" class="form-control" id="category5" >
</div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>