<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>InvestBeacon | Create a post</title>
    <th:block th:include="partials/header.html :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class=" card text-center " style="margin: 10em auto; padding: 1em; width: 60%; display: flex; justify-content: center; border:none;">
    <h3> Create A New Post</h3>
    <form th:action="@{/forum-posts/create}" th:method="POST" th:object="${post}">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" th:field="*{title}">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <input type="text" class="form-control" id="description" th:field="*{description}">
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input id="image" type="hidden" th:field="*{contentImageUrl}">
            <button type="button" id="open">Choose image to upload</button>
        </div>
        <div>
            <div> Pick categories:</div>
            <span th:each="category : ${categoryList}">
                <div class="form-check form-check-inline m-2">
                    <label class="form-check-label" th:for="${category.category}" th:text="${category.category}"></label>
                        <input class="form-check-input checkbox" type="checkbox" th:id="${category.category}" name="categories" th:value="${category.id}">
                </div>

            </span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>


<th:block th:include="partials/footer.html :: scripts"></th:block>
<th:block th:include="partials/fileStack.html :: fileStackScript"></th:block>

</body>
</html>

