<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit Comment</title>
    <th:block th:include="partials/header.html :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container-fluid">
    <form th:action="@{/forum-posts/{id}/comment/{commentId}/edit (id=${comment.getPost().getId()}, commentId = ${comment.getId()})}" th:method="POST" th:object="${comment}"  >


        <div class="form-group">
            <input type="hidden" th:value="${comment.getId()}" th:field="*{id}">
            <label for="title"></label>
            <textarea class="form-control" name="title" id="title" style="resize: none;" th:value="${comment.getContent()}" th:field="*{content}"></textarea>
        </div>


        <button type="submit" class="btn btn-primary align-self-end">Save Edit</button>
    </form>
</div>

<th:block th:include="partials/footer.html :: scripts"></th:block>
</body>
</html>