<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit forum post</title>
    <th:block th:include="partials/header.html :: styling"></th:block>

    <style>


        .form {
            /*position: relative;*/
            z-index: 1;
            background: #FFFFFF;
            max-width: 1000px;
            margin: 0 auto 200px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

    </style>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class=" card text-center " style="margin: 10em auto; padding: 1em; width: 60%; display: flex; justify-content: center; border: none;">
    <h1> Update Your Post</h1>
    <form class="form" th:action="@{/forum-posts/{id}/edit (id = ${editPost.getId()})}" th:method="POST" th:object="${editPost}" style="margin: 2em auto; padding: 1em; width: 100%; ">
        <input id="title" placeholder="Title" name="title" type="text" th:field="*{title}"/>
        <br>
        <input id="description" placeholder="Content" name="content" type="text"maxlength="1500" th:field="*{description}" style="height: 15rem;"/>
        <br>
        <input id="image" type="hidden" placeholder="image" name="image" th:field="*{contentImageUrl}">
        <button class="my-3" type="button" id="open">Choose image to upload</button>
        <br>
        <div class="row my-5">
            <br>
            <span th:each="category : ${categoryList}" class="col">
                <input class="form-check-input" type="checkbox" th:id="${category.category}" name="categories" th:value="${category.id}" style="width: 25px;">
                 <label class="form-check-label" th:for="${category.category}" th:text="${category.category}" ></label>
                <br>
            </span>
        </div>

        <br>

        <button id="create" type="submit" class="btn btn-primary">Submit</button>
    </form>




    </div>






<th:block th:include="partials/footer.html :: scripts"></th:block>


</body>
</html>