<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit forum post</title>
</head>
<body>

<form th:action="@{/forum-posts/{id}/edit (id = ${editPost.getId()})}" th:method="POST" th:object="${editPost}"  >

    <div class="form-group">
        <label for="title">Is Educational</label>
        <input type="checkbox" class="form-control" id="education" >
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title">
    </div>
    <div class="form-group">
        <label for="Body">description</label>
        <input type="text" class="form-control"  id="Body" >
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input type="image" class="form-control" id="image" >
    </div>
    <div class="form-group">
        <label for="categories">Categories</label>
        <input type="checkbox" class="form-control" id="categories" >
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<th:block th:include="partials/footer.html :: scripts"></th:block>
</body>
</html>