<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>All the forum posts</title>
    <th:block th:include="partials/header.html :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div th:each="post : ${allPosts}">
    <div class="card my-3" style="width: 35rem;">
        <img th:src="${post.contentImageUrl}" alt="image">
        <h2 th:text="${post.title}">Title:</h2>
        <p th:text="${post.description}">Content:</p>
        <div>Create by: <span><a style="all: unset; cursor: pointer" th:href="@{'/profile/' + ${post.user.id}}"
                                 th:text="${post.user.username}"><i class="far fa-user"></i></a></span></div>
        <a sec:authorize="isAuthenticated()" href="#" class="like"><i class="far fa-thumbs-up"></i> Like</a>
        <form th:action="@{/forum-posts/{id}(id=${post.id})}" th:method="get">
            <button style="all: unset;
  cursor: pointer;">
                <a style="all: unset; cursor: pointer" class="comments" th:text="|${post.getComments().size()} comments|">
                    <i class="fa-regular fa-message"></i>
                    <i class="fas fa-comments"></i> 0 comments</a>
            </button>
        </form>
    </div>
</div>


<th:block th:include="partials/footer.html :: scripts"></th:block>
</body>
</html>