<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>All the forum posts</title>
    <th:block th:include="partials/header.html :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div th:each="post : ${allPosts}">
    <img th:src="${post.contentImageUrl}" alt="image">
    <h2 th:text="${post.title}">Title:</h2>
    <p th:text="${post.description}">Content:</p>
    <div>Created by: <span th:text="${post.user.username}"> </span></div>
</div>

<span class="likebtn-wrapper" data-theme="likebtn" data-identifier="item_1"></span>


<script>
    (function(d,e,s){
        if(d.getElementById("likebtn_wjs"))
            return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];
            a.async=1;
            a.id="likebtn_wjs";
            a.src=s;
            m.parentNode.insertBefore(a, m)})
    (document,"script","//w.likebtn.com/js/w/widget.js");

</script>



<th:block th:include="partials/footer.html :: scripts"></th:block>
</body>
</html>