<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>All the forum posts</title>
    <th:block th:include="partials/header.html :: styling"></th:block>
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>


</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container-fluid  my-5 text-center">
    <h3>Forums</h3>
</div>
<div class=" container-fluid">
    <div th:each="post : ${page}" class="card bg-light mb-3" style="margin: 2em auto; padding: 1em; width: 95%; display: flex; justify-content: center">
        <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary border-bottom">
                    <h2 th:text="${post.title}">Title:</h2></strong>
                <br>
                <p th:utext="${post.description}">Content:</p>
                <div>Created by: <span><a style="all: unset; cursor: pointer" th:href="@{'/profile/' + ${post.user.id}}"
                                         th:text="${post.user.username}"><i class="far fa-user"></i></a></span>
                </div>
                <div>
                    <div class="row">
                        <div style="width: 15px;" sec:authorize="isAuthenticated()">
                            <form th:action="@{/forum-posts/{id}/like-unlike (id = ${post.getId()})}" th:method="POST">
                                <button class="like" type="submit" id="a" th:if="${!#maps.containsKey(userLikes,post.id)}"
                                        style="color:grey; all:unset; cursor:pointer;">
                                    <i class="fa-regular fa-thumbs-up"></i>
                                </button>
                                <button class="unlike" type="submit" id="b" th:if="${#maps.containsKey(userLikes,post.id)}"
                                        style="all:unset; color:#3399FF; cursor:pointer;">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                </button>
                                <input type="hidden" name="voted" th:if="${#maps.containsKey(userLikes,post.id)}"
                                       th:value="true"/>
                                <input type="hidden" name="voted" th:if="${!#maps.containsKey(userLikes,post.id)}"
                                       th:value="false"/>
                                <input type="hidden" name="url" th:value="${#httpServletRequest.requestURI}"/>
                            </form>
                        </div>
                        <div class="col mx-auto">
                            <span class="votecount" th:text="${post.users.size()}">3</span><span> likes</span>
                        </div>
                    </div>
                </div>
                <form th:action="@{/forum-posts/{id}(id=${post.id})}" th:method="get">
                    <button style="all: unset; cursor: pointer;">
                        <a style="all: unset; cursor: pointer" class="comments"
                           th:text="|${post.getComments().size()} comments|">
                            <i class="fa-regular fa-message"></i>
                            <i class="fas fa-comments"></i> 0 comments</a>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <nav class="col">
            <ul class="pagination d-flex justify-content-center" style="margin: auto; width: 30%; padding: 10px;">
                <li th:class="${page.isFirst()}? 'disabled' : ''">
                    <span class="page-link bg-primary rounded" th:if='${page.isFirst()}'>← First</span>
                    <a class="page-link bg-primary" th:if='${not page.isFirst()}' th:href="'?page=0'">
                        ← First
                    </a>
                </li>
                <li th:class="${page.hasPrevious()}? '' : 'disabled'">
                    <span class="page-link bg-primary"th:if='${not page.hasPrevious()}'>«</span>
                    <a class="page-link bg-primary" th:if='${page.hasPrevious()}' th:href="'?page=' + ${page.getNumber() - 1}" title='Go to previous page'>«</a>
                </li>
                <!--            <&#45;&#45; Show a link to each page &ndash;&gt;-->
                <li class="page-item active" th:each="i : ${#numbers.sequence(1, page.getTotalPages())}">
                    <span th:if='${(i - 1) == param.page}' th:text='${i}'> 1 </span>
                    <a class="page-link bg-primary" th:if='${not ((i - 1) == param.page)}' th:href="'?page=' + ${(i -1)}">
                        <span th:text='${i}'>1</span>
                    </a>
                </li>
                <li th:class="${page.hasNext()} ? '' : 'disabled'">
                    <span class="page-link bg-primary" th:if='${not page.hasNext()}'>»</span>
                    <a class="page-link bg-primary" th:if='${page.hasNext()}' th:href="'?page=' + ${page.getNumber() + 1}" title='Go to next page'>»</a>
                </li>
                <li th:class="${page.isLast()}? 'disabled' : ''">
                    <span class="page-link bg-primary" th:if='${page.isLast()}'>Last →</span>
                    <a class="page-link bg-primary rounded" th:if='${not page.isLast()}' th:href="'?page=' + ${page.getTotalPages() - 1}"> Last →</a>
                </li>
            </ul>
        </nav>
    </div>

</div>
<th:block th:include="partials/footer.html :: scripts"></th:block>
</body>
</html>