<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single-post</title>
    <th:block th:include="partials/header.html :: styling"></th:block>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container-fluid my-5">
    <!-- post -->
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
            <h3>
                <span th:text="${singleForumPost.title}"></span>
            </h3>
            <img th:if="${!singleForumPost.contentImageUrl.isEmpty()}" th:src="${singleForumPost.contentImageUrl}" alt="image" height="300" width="300" style="border-radius: 20px;" >
            <p class="comment-content fs-5" th:text="${singleForumPost.description}">Content:</p>
            <p>submitted on
                <time th:title="${singleForumPost.getCreatedDate()}" th:datetime="${singleForumPost.getCreatedDate()}"
                      th:text="${singleForumPost.getCreatedDate()}"></time>
                by
                <a style="all: unset; cursor: pointer" th:href="@{'/profile/' + ${singleForumPost.getUser().getId()}}"
                   class="author"
                   th:text="${singleForumPost.getUser().getUsername()}"></a>
            </p>
            <div>
                <span class="votecount" th:text="${singleForumPost.users.size()}">3</span><span> likes</span>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/forum-posts/{id}/like-unlike (id = ${singleForumPost.getId()})}" th:method="POST">
                    <button class="like" type="submit" id="like" th:if="${!voted}" style="color:grey; all:unset; cursor:pointer;">
                        <i class="fa-regular fa-thumbs-up"></i>
                    </button>
                    <button class="unlike" type="submit" id="unlike" th:if="${voted}" style="all:unset; color:#3399FF; cursor:pointer;">
                        <i class="fa-solid fa-thumbs-up"></i>
                    </button>
                    <input type="hidden" name="voted" th:value="${voted}" />
                </form>
            </div>
        </div>
    </div>

    <!-- Forum Post comments -->
    <div id="comments" class="comment_block">
        <div class="row header">
            <div class="col-1"></div>
            <div class="col-11">
                <label><i class="far fa-comment-alt"></i> <span
                        th:text="|${singleForumPost.getComments().size()} comments|"></span></label>
            </div>
        </div>
        <!--        ADD COMMENT-->
        <div class="row" sec:authorize="!isAuthenticated()">
            <div class="col-1"></div>
            <div class="col-11">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Log in or sign up to leave a comment" readonly>
                    <div class="input-group-append">
                        <form th:action="@{/login}"
                              th:method="Get">
                            <button type="submit" class="btn btn-outline-primary">Log In</button>
                            <button th:formaction="@{/register}" type="submit" class="btn btn-outline-primary">Sign up
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" sec:authorize="isAuthenticated()">
            <div class="col-1 user-avatar">
                <img class="avatar" th:src="${loggedInUser.profileImg}" alt="avatar">
            </div>
            <div class="col">
                <form method="POST"
                      th:action="@{/forum-posts/{id}/comment (id=${singleForumPost.id})}" th:object="${comment}">
                    <input type="hidden" th:field="*{post}"/>
                    <div class="form-group">
                        <textarea class="form-control" id="comment" rows="3" style="resize: none;"
                                  th:field="*{content}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>
            </div>
        </div>
        <hr>
        <!-- single comment -->
        <div class="row" th:each="comment : ${singleForumPost.getComments()}">
            <div class="col-1 user-avatar">
                <img class="avatar" th:src="${comment.getUser().profileImg}" alt="avatar">
            </div>
            <div class="col">
                <span><a class="fs-5" style="all: unset; cursor: pointer" th:href="@{'/profile/' + ${comment.getUser().getId()}}"
                         th:text="${comment.getUser().getUsername()}"><i class="far fa-user"></i></a></span>
                <span class="datetime-created" th:text="${comment.getCreateDate()}"><i class="fa-regular fa-clock"></i></span>
                <p style="min-height: 50px;" class="body" th:text="${comment.getContent()}"></p>
                <div class="row" sec:authorize="isAuthenticated()"
                     th:if="${#authentication.principal.id == comment.getUser().id}">
                    <span class="col-1 mx-auto">
                        <form th:action="@{/forum-posts/{id}/comment/{commentId}/edit(id=${singleForumPost.id},commentId=${comment.id})}"
                              th:method="Get">
                            <button type="submit" name="id" class="btn btn-secondary edit-btn"><i
                                    class="fas fa-edit"></i></button>
                        </form>
                    </span>
                    <span class="col mx-auto">
                        <form th:action="@{/forum-posts/{id}/comment/{commentId}/delete(id=${singleForumPost.id},commentId=${comment.id})}"
                              th:method="Post">
                            <button type="submit" name="id" class="btn btn-danger delete-btn"><i
                                    class="fas fa-trash-alt"></i></button>
                        </form>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="partials/footer.html :: scripts"></th:block>
</body>
</html>